.TaskApp{
    user-select: none;
    -webkit-user-select: none;
}

.TaskApp label[contenteditable="true"]{
    width: 100%;
    border: solid 1px transparent;
    box-shadow: none;
    padding: 5px 3px;
    font-weight:normal;
    font-size: 14px;
    outline: 0;
}

.TaskApp .tasks-header .input-group-addon{
    cursor: pointer;
}

.TaskApp .tasks-header .input-group-addon:hover{
    color: green;
    border-color: #66afe9;
}

.TaskApp .tasks-body .form-control{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: solid 1px transparent;
    transition: all 250ms;
}

.TaskApp .tasks-body .form-control:focus{
    border-bottom: solid 1px #66afe9;
}
